/*
Animation for blinking text
*/
.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*
Animation on hovering on the github icon
*/
.fa-github:hover { 
  color: #28a745;
}

/*
Animation on hovering on the linkedin icon
*/
.fa-linkedin:hover { 
  color: #0e76a8;
}